
# Primehub {{command.capitalize()}}

primehub {{command}} `<verb>` `[args]` `[flags]`


## Available Commands

{% for item in actions -%}
* {{item['name'].capitalize()}}
{% endfor %}

{% for item in actions %}
#### {{item['name'].capitalize()}}

{{item['description']}}

{% if item['required_arguments'] %}
```
primehub {{item['name']}} {{item['name']}} {{item['required_arguments_string']}}
```
{% else %}
```
primehub {{item['name']}} {{item['name']}}
```
{% endif %}

{%- if item['required_arguments'] -%}
**Required Arguments**
{%- for argument in item['required_arguments'] %}
* {{argument}}
{%- endfor %}
{% endif %} {# end of :: if item['required_arguments'] #}


{% if item['optional_arguments'] %}
**Optional Arguments**
{% for argument in item['optional_arguments'] %}
* {{argument}}
{% else %}
*no optional arguments*
{% endfor %}
{% endif %} {# end of :: if item['optional_arguments'] #}


{% endfor %} {# end of :: for item in actions #}

## Command Help

{{command_help}}